/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";
@font-face {
    font-family: 'FontonePoppins';
    src: url('../src/assets/Poppins-Regular.ttf');
  }
  @font-face {
    font-family: 'FontonePoppinsExtraLight';
    src: url('../src/assets/Poppins-Light.ttf');
  }
